@use "sass:color";

.note-list {
	$self: &;
	&__container {
		display: grid;
		width: 100%;
		padding: 0.75rem;
		margin-top: 4rem;
		background-color: var(--bg-color);
		grid-template-columns: 1fr 1fr 1fr;
		gap: 0.75rem;

		@media screen and (max-width: 768px) {
			grid-template-columns: 1fr 1fr;
		}

		@media screen and (max-width: 425px) {
			grid-template-columns: 1fr;
		}
	}
}
