:root {
	--bg-color: #282c34;
	--border-color: #454952;
	--input-bg: #3b4045;
	--input-bg-active: #454952;
	--primary-color: #61dafb;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Poppins", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100%;
}

#root {
	min-height: 100%;
}

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-track {
	background: var(--bg-color);
	border-left: 1px solid var(--border-color);
}

::-webkit-scrollbar-thumb {
	background: var(--input-bg);
}

::-webkit-scrollbar-thumb:hover {
	background: lightslategray;
}
